.single-footer5
  .single-footer5__content5
    %ul.single-footer5__contennt5__caution5.clearfix
      %li.single-footer5__content5__caution5--policy5
        プライバシーポリシー
      %li.single-footer5__content5__caution5--terms5
        FURIMA利用規約
      %li.single-footer5__content5__caution5--note5
        特定商取引に関する表記
  .single-footer5__logo5
    = link_to '#' do
      = image_tag 'kuro.png', class: 'pic5'
    %p
      %small 
        ©︎FURIMA