.credit-card-list3
  .credit-card-list-title3
    %p 支払い方法
  .credit-card-list-registration3
    %p クレジット
    =link_to '#' do
      .credit-card-list-registration-btn3
        %p +新規クレジットカードを登録する
  .credit-card-select-btn3
    =link_to '#' do
      %p 選択した支払い方法を使う
  .credit-card-select-text3
    =link_to '#' do
      %p 支払い方法について
      %li.fa.fa-chevron-right