.credit-card-list
  %p 支払い方法
  .credit-card-list-registration
    %p クレジット
    =link_to '#' do
      .credit-card-list-registration-btn
        %p +新規クレジットカードを登録する
  .credit-card-select-btn
    =link_to '#' do
      %p 選択した支払い方法を使う
    .credit-card-select-text
      =link_to '#' do
        %p 支払い方法について
        %li.fa.fa-chevron-right