-#ヘッダー（部分テンプレート）
=render partial:'items/header'

.log-out
  .log-out-btn
    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'log-out-btn'

-#フッター（部分テンプレート）
=render partial:'items/footer'