* {
  box-sizing: border-box;
}



// ヘッダー
.pcHeader1{
  padding: 0 60px;
  &__headerInner1{
    max-width:1040px;
    width: 100%;
    min-height: 82px;
    margin:0 auto;
    padding: 15px 0 0;
  }
  &__mainHeader1{
    position: relative;
    display: flex;
    align-items: center;
  }
  &__FURIMA_icon1{
    margin-right:50px;
    border-radius:4px;
    display: block;
    .serchbtn{
        width:100px;
        display: block;
      }
      .image{
        width: 160px;
        vertical-align: bottom;
        padding-right: 20px;
      }
  }
  &__searchBox1{
    margin-left: auto;
    width: 600%;
    .form{
      display: flex;
      margin-bottom: 5px;
      width: 100%;
    }
    .class-name__text{
      width: 100%;
      height:36px;
      padding: 0 0 0 5px;
    }
    .fa-search{
      color: white ;
      width: 36px;
      border: 0;
      cursor: pointer;
      background-color: #3CCACE;
      padding: 8px;
    }
  } 
  &__nav1{
    font-size: 14px;
    display: flex;
    margin-bottom: 10px;
    .listsLeft1{
      position: relative;
      display: flex;
    }
    .listsLeft__item--first1{
      text-decoration: none;
      padding-right:   20px;
      line-height: 38px;
    }
    .listsLeft__item1{
      display: flex;
      line-height: 38px;
    }
    .listsRight1{
      margin-left: auto;
      display: flex;
      .headerlink4 {
        text-decoration: none;
        color: #333;
        margin-right: 10px;
      }
    }
    .listsRight__item--login1{
      color: #333;
      line-height: 38px;
      padding-right: 20px;
    }
    .listsRight__item--new1{
      color: #333;
      line-height: 38px;
    }
  }
}

// 商品出品ページ
.ItemNewContent4 {
  width: 100vw;
  height: 100%;
  background-color: #f8f8f8;
  .LogoWrapper4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 128px;
    &__logo4 {
      height: 49px;
      width: 185px;
      display: inline-block;
    }
  }
  .ItemForm4 {
    margin: 0 auto;
    background-color: #fff;
    height: 100%;
    width: 700px;
    .labelArea4 {
      display: flex;
      .label4 {
        line-height: 20px;
      }
      .required4 {
        font-size: 12px;
        line-height: 20px;
        font-weight: bold;
        background-color: red;
        margin: 10px 15px;
        color: white;
        padding: 0 4px;
        border-radius: 2px;
      }
      .lineheight4 {
        height: 20px;
        font-size: 12px;
        line-height: 20px;
        font-weight: bold;
        background-color: red;
        margin: 10px 15px;
        color: white;
        padding: 0 4px;
        border-radius: 2px;
      }
      .any4 {
        font-size: 12px;
        line-height: 20px;
        font-weight: bold;
        background-color: #ccc;
        margin: 10px 15px;
        color: white;
        padding: 0 3px;
        border-radius: 2px;
      }
    }
    #previews {
      display: flex;
      margin: 10px auto;
      width: 400px;
      .ImgPrevBox4 {
        margin: 0 auto;
        .prevImg4 {
          border-radius: 3px;
        }
      }
    }
    #imageBox4 {
      width: 100%;
      height: 140px;
      display: flex;
      .js-file_group4, .js-file_group-edit4 {
        width: 100%;
        text-align: center;
        padding: 35px;
        border: 1px dashed #ccc;
        background-color: rgb(245, 245, 245);
        .uploadBtn4, .uploadBtn-edit4 {
          .fa-camera {
            cursor: pointer;
            font-size: 50px;
            margin-bottom: 15px;
          }
          .imgMsg4, .imgMsg-edit4 {
            color:  gray;
            font-size: 12px;
          }
          .img-js4, .img-js-edit4 {
            width: 100%;
          }
        }
        .hidden-destroy4 {
          display: none;
        }
      }
      .editImage4{
        display: none;
      }
      .hidden4 {
        display: none;
      }
    }
    .BtnWrap4 {
      text-align: center;
      .js-edit4 {
        cursor: pointer;
        color: white;
        background-color: skyblue;
        padding: 5px;
        border-radius: 3px;
      }
      .js-remove4, .js-remove-edit4 {
        cursor: pointer;
        color: white;
        background-color: tomato;
        padding: 5px;
        border-radius: 3px;
      }
    }
    .input4,.textarea4,.select4 {
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 10px;
    }
    .borderbottom4 {
      border-bottom: 1px solid #efefef;
      padding: 40px;
    }
    .headline4 {
      color: gray;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: bold;
    }
    .itemInput4 {
      width: 100%;
      padding: 0 56px 0 16px;
    }
    .select4 {
      width: 100%;
    }
    .priceArea4 {
      display: flex;
      justify-content: space-between;
      &__input4 {
        display: flex;
        .enmark4 {
          font-size: 16px;
          height: 20px;
          margin: 10px;
        }
        .priceInput4 {
          width: 100%;
          padding: 0 16px 0 16px;
        }
      }
    }
    .label4 {
      font-size: 14px;
      font-weight: 600;
      margin: 10px 0;
    }
    .lineInput4 {
      height: 48px;
    }
    &__submit4 {
      width: 70%;
      margin: 0 auto;
      padding: 40px;
      .exhibitionBtn4 {
        display: inline-block;
        border: none;
        color: white;
        font-weight: bold;
        background-color: rgb(62, 236, 228);
        width: 100%;
        height: 50px;
        margin-top: 30px;
        cursor: pointer;
      }
    }
    .imgalert {
      color: red;
    }
    .errorMessages4 {
      color: red;
      font-size: 14px;
      padding: 20px;
    }
  }
}

// 詳細ページ
.navbar2 {
  width: 100%;
  height: 50px;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  &__lists {
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    .navlist2 {
      padding: 0 10px 0 0;
      float: left;
      .navContent2 {
        text-decoration: none;
        color: #333;
      }
      p {
        font-weight: bold;
      }
    }
  }
}

// トップページのビュー
.main1{
  background: #f8f8f8;
  &__mainVisual1{
    width: 100%;
    height: 560px;
    background-image: image-url("bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    .content1{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      .content__subtitle1{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      .content__text1{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      .content__btn1{
        display: flex;
        margin: 24px 0 0 0;
        .aBtn1{
          margin-right: 10px;
          .aBtn{
            vertical-align: bottom;
          }
        }
        .gBtn1{
          margin-right: 10px;
          .gBtn{
            vertical-align: bottom;
          }
        }
      }
    }
  }
  &__topIntroduction1{
    padding: 60px 20px;
      .subtitle1{
        text-align: center;
        font-size: 26px;
        line-height: 1.4;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
          .after1{
            content: "";
            width: 70px;
            height: 4px;
            background-color: #3CCACE;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
      }
      .lists1{
        text-align: center;
        display: flex;
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
        .list1{
          width: 30%;
          margin: 16px 5% 0 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
          &__list__pict{
            position: relative;
            margin-bottom: 20px;
            .number{
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 4%;
              font-size: 30px;
              text-align: center;
              margin: 0 5px 0 0;
              padding: 10px 20px;
              background-color: #3CCACE;
              color: #fff;
            }
          }
          .list__text{
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            margin: 0 0 0 2px;
            .time{
              color: #3CCACE;
            }
            .list__description{
              font-size: 18px;
              line-height: 1.5;
              margin: 16px 0 0;
            }
          }
        }
        .list{
          width: 30%;
          margin: 16px 5% 0 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
          &__list__pict{
            position: relative;
            margin-bottom: 20px;
            .number{
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 4%;
              font-size: 30px;
              text-align: center;
              margin: 0 5px 0 0;
              padding: 10px 20px;
              background-color: #3CCACE;
              color: #fff;
            }
          }
          .list__text{
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            margin: 0 0 0 2px;
            .color{
              color: #3CCACE;
            }
            .list__description{
              font-size: 18px;
              line-height: 1.5;
              margin: 16px 0 0;
            }
          }
        }
        .list{
          width: 30%;
          margin: 16px 5% 0 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
          &__list__pict{
            position: relative;
            margin-bottom: 20px;
            .number{
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 4%;
              font-size: 30px;
              text-align: center;
              margin: 0 5px 0 0;
              padding: 10px 20px;
              background-color: #3CCACE;
              color: #fff;
            }
          }
          .list__text{
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            margin: 0 0 0 2px;
            .kakaku{
              color: #3CCACE;
            }
            .list__description{
              font-size: 18px;
              line-height: 1.5;
              margin: 16px 0 0;
            }
          }
        }
      }
  }
  &__topMiddleDl1{
    background-image: image-url("bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    .topMiddleDl__inner1{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      .subtitle1{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
        position: relative;
      }
      .text1{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      .btn1{
        display: flex;
        position: absolute;
        .aBtn1{
          margin-right: 10px;
          .aBtn{
            vertical-align: bottom;
          }
        }
        .gBtn1{
          margin-right: 10px;
          .gBtn{
            vertical-align: bottom;
          }
        }
      }  
    }
  }
  &__topKeyFeatures1{
    padding: 60px 100px;
    background-color: #fff;
    .head1{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      .after1{
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .items1{
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .item1{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        .item__img1{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
        }
        .item__subtitle1{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        .item__detail1{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  .pickupContainer1{
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    .head1{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    .productBox1{
      .productHead1{
        text-align: center;
        .title1{
          font-weight: bold;
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
        }
      }
      .productLists1{
        width: 780px;
        margin: 26px auto;
        margin-bottom: 0;
        padding-bottom: 26px;
        display: flex;
        justify-content: space-around;
        .productList1{
          width: 220px;
          display: inline-block;
          float: left;
          a{
            background-color: #fff;
            display: inline-block;
            text-decoration: none;
          }
          .productList--img1{
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
          }
          .productList--body1{
            background-color: white;
            color: #333;
            padding: 16px;   
          }
          .details1{
            font-size: 16px;
          }
          .ul1{
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          .p1{
            font-size: 10px;
            text-align: left;
          }
        }
      }
    }
  }
}

// 商品詳細画面メイン
.main2 {
  background: #f8f8f8;
  .showMain2 {
    padding: 40px;
    margin: 0 auto;
    .contentRight2 {
      width: 700px;
      margin: 0 auto;
      .itemBox2 {
        background-color: #fff;
        padding: 24px 40px 40px;
        &__name2 {
          text-align: center;
          font-weight: bold;
          font-size: 24px;
        }
        &__body2 {
          margin: 16px 0 0;
          .iteminfo1_2 {
            display: flex;
            position: relative;
            .itemList1_2 {
              display: flex;
              flex-direction: column;
              width: 560px;
              align-items: center;
              margin: 0 auto;
              .img1_2 {
                object-fit: cover;
                height: 346px;
                width: 100%;
                vertical-align: bottom;
              }
            }
          }
          .iteminfo2_2 {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            .itemList2_2 {
               margin: 0 10px 0 0;
              .img2_2 {
                object-fit: cover;
                height: 90px;
              }
            }
          }
        }
        .itemContent2 {
          margin: 24px 0 24px;
            display: flex;
            flex-direction: column;
            
            .price2 {
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
              text-align: center;
            }
            &__pricedetail2 {
              font-size: 16px;
              text-align: center;
              .tax2 {
                text-align: center;
              }
              .shipping2 {
                text-align: center;
              }
            }
            .itemDetail2 {
              line-height: 1.5;
              font-size: 18px;
              margin-bottom: 30px;
              padding-top: 30px;
            }
            .table2 {
              .detail2 {
                width: 100%;
                height: 375px;
                border-collapse: collapse;
                border: 1px solid #dedede;
                .tbody2 {
                  display: table-row-group;
                  vertical-align: middle;
                  border-color: inherit;
                  tr {
                    display: table-row;
                    vertical-align: inherit;
                    border-color: inherit;
                    th {
                      width: 20%;
                      background-color: #eee;
                      font-weight: 400;
                      padding: 8px;
                      border: 1px solid #dedede;
                      font-size: 14px;
                      text-align: center;
                    }
                    td {
                      border: 1px solid #dedede;
                      padding: 15px 15px;
                      .category2 {
                        text-decoration: none;
                        color: #3CCACE; 
                      }
                      .area2 {
                        text-decoration: none;
                        color: #3CCACE; 
                      }
                    }
                  }
                }
              }
            }
            .optionalArea2 {
              display: flex;
              justify-content: space-between;
              .like2 {
                margin: 10px 0 0;
                display: flex;
                .likeBtn2 {
                  margin-right: auto;
                  padding: 6px 10px;
                  border-radius: 40px;
                  color: #3CCACE;
                  border: 1px solid #ffb340;          
                }
              }
              .optional2 {
                margin: 10px 0 0;
                display: flex;
                &__Btn2 {
                  font-size: 14px;
                  a {
                    padding: 6px 10px;
                    display: inline-block;
                    border-radius: 4px;
                    color: #333;
                    border: 1px solid #333;
                    text-decoration: none;
                  }
                }   
              }       
            }
            .ItemEditBtn4 {
              display: flex;
              flex-direction: column;
              text-align: center;
              margin: 35px 0;
              &__editbtn4 {
                display: inline-block;
                margin: 10px auto;
                width: 60%;
                text-decoration: none;
                background-color:#3CCACE;
                border-radius: 4px;
                padding: 10px 20px;
                color: white;
              }
              &__deletebtn4 {
                display: inline-block;
                margin: 10px auto;
                width: 60%;
                text-decoration: none;
                background-color: tomato;
                border-radius: 4px;
                padding: 10px 20px;
                color: white;
              }
            }
          }
        } 
        .commentBox2 {
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          &__Contents2 {
            
            .form2 {

              .commentBody2 {
                width: 100%;
                min-height: 104px;
                padding: 10px;
              }
              .noticeMsg2 {
                padding: 8px;
                font-size: 14px;
                background-color: #f8f8f8;
                margin: 10px 0;
                text-align: left;
              }
              br {
                box-sizing: border-box
              }
              .commentBtn2 {
                font-size: 18px;
                line-height: 48px;
                background: #3CCACE;
                border: 1px solid #3CCACE;
                color: #fff;
                width: 60%;
                font-size: 18px;
                border-radius: 100px;
                .fa-comment2 {
                }
              }
            }
          } 
        } 
      .links2 {
        display: flex;
        justify-content: space-between;
        &__prev2 {
          .previmg1-2 {
            text-decoration: none;
            color: #3CCACE;
            .fa-angle-left {
            }
            .footnav2 {
              color: #3CCACE;
            }
          }
        }
        &__next2 {
          .previmg2-2 {
            text-decoration: none;
            color: #3CCACE;
            .fa-angle-right {
            }
          }
        }
      }
      .relatedItems2 {
        .more2 {
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
        
        .productLists2 {

          &__contents2 {
            
            .curryimg2 {
              width: 230px;
            }
          }
          &__body2 {
            background-color: white;
            color: #333;
            padding: 30px 15px;
            width: 230px;
            .details2 {
              font-size: 16px;
              .bottomcontent2 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .contentmoney2 { 
                  font-weight: bold;
                } 
              }
            }      
          }
        }
      }
    }     
  }
}

// フッターの上部分
.appBanner1{
  background-image: image-url("bg-appBanner-pict.jpg");
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  .inner1{
    color: #fff;
    text-align: center;
    .inner__title1{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    .inner__text1{
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    .inner__icon1{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      .aBtn1{
        margin-right: 10px;
        .aBtn{
          vertical-align: bottom;
        }
      }
      .gBtn1{
        margin-right: 10px;
        .gBtn{
          vertical-align: bottom;
        }
      }
    }
  }
}

// フッター
.footer1{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
    .contents{
      max-width: 840px;
      margin: 0 auto;
      display: flex;
      .content{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        margin: 0 2% 0 0;
      .content__head{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul{
        list-style: none;
      }
          li{
            a{
            font-weight: normal;
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        } 
      }
    }
  .footer__logo1{  
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    .kuro{
      box-sizing: border-box;
      .image{ 
        width: 110%;
        vertical-align: bottom;
      }
    }
      .p{
        font-size: 14px;
      }
  }
}



li{
  cursor: pointer;
  text-decoration: underline;
  list-style: none;
  text-decoration: none;
}

.purchaseBtn{
    width: 120px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
  }
  .purchaseBtn__text{
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
