.Main__Component-sc-121eqei1{
  .OrderCoupon__Inner1k{
    text-align: center;
    padding: 14px 10px;
    font-size: 16px;
  }
  .OrderPayment__Component11k{
    text-align: center;
    padding: 14px 10px;
    .OrderPayment__Component11kk{
      padding: 30px;
    }
  }
}










.Typography__Component-sc-10fxrsq-8k{
  text-decoration: underline !important;

  .log-out-btn1k{
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;  
    color: black;
    padding: 14px 10px;
    cursor: pointer;
  }
}
