// body2 {
//   font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
* {
  box-sizing: border-box;
}
.pcHeader1{
  padding: 0 60px;
  &__headerInner1{
    max-width:1040px;
    width: 100%;
    min-height: 82px;
    margin:0px;
    padding: 15px 0 0;
  }
  &__mainHeader1{
    position: relative;
    display: flex;
    align-items: center;
  }
  &__FURIMA_icon1{
    margin-right:50px;
    border-radius:4px;
    display: block;
    .serchbtn{
        width:100px;
        display: block;
      }
      .image{
        width: 160px;
        vertical-align: bottom;
        padding-right: 20px;
      }
    }
  &__searchBox1{
    margin-left: auto;
    width: 600%;
    .form{
      display: flex;
      margin-bottom: 5px;
      width: 100%;
    }
    .class-name__text{
      width: 100%;
      height:36px;
      padding: 0 0 0 5px;
    }
    .fa-search{
      color: white ;
      width: 36px;
      border: 0;
      cursor: pointer;
      background-color: #3CCACE;
      padding: 8px;
    }
  } 
  &__nav1{
    font-size: 14px;
    display: flex;
    margin-bottom: 10px;
    .listsLeft1{
      position: relative;
      display: flex;
    }
    .listsLeft__item--first1{
      text-decoration: none;
      padding-right:   20px;
      line-height: 38px;
    }
    .listsLeft__item1{
      display: flex;
      line-height: 38px;
    }
    .listsRight1{
      margin-left: auto;
      display: flex;
    }
    .listsRight__item--login1{
      color: #333;
      line-height: 38px;
      padding-right: 20px;
    }
    .listsRight__item--new1{
      color: #333;
      line-height: 38px;
    }
  }
}
.breadCrumbs2 {
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  .nav2 {
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    .navlist2 {
      padding: 0 10px 0 0;
      float: left;
      .navContent2 {
        text-decoration: none;
        color: #333;
      }
      .fa-angle-right {
        
      }
      p {
        font-weight: bold;
      }
    }
  }
}
.main2 {
  background: #f8f8f8;
  .showMain2 {
    padding: 40px;
    margin: 0 auto;
    .contentRight2 {
      width: 700px;
      margin: 0 auto;
      .topContent2 {
        margin: 0;
        padding: 0;
        .itemBox2 {
          background-color: #fff;
          padding: 24px 40px 40px;
          &__name2 {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__body2 {
            margin: 16px 0 0;
            .iteminfo1_2 {
              display: flex;
              position: relative;
              .itemList1_2 {
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;
                .img1_2 {
                  object-fit: cover;
                  height: 346px;
                  width: 100%;
                  vertical-align: bottom;
                }
                .iteminfo2_2 {
                  display: flex;
                  justify-content: center;
                  margin-top: 10px;
                  .itemList2_2 {
                     margin: 0 10px 0 0;
                    .img2_2 {
                      object-fit: cover;
                      height: 87px;
                    }
                  }
                }
              }
            }
          }
          &__price2 {
            margin: 24px 0 24px;
            display: flex;
            flex-direction: column;
            
            .price2 {
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
              text-align: center;
            }
            .itemBox__price-detail2 {
              font-size: 16px;
              text-align: center;
              .tax2 {
                text-align: center;
              }
              .shipping2 {
                text-align: center;
              }
            }
            .itemDetail2 {
              line-height: 1.5;
              font-size: 18px;
              margin-bottom: 30px;
              padding-top: 30px;
            }
            .table2 {
              .details2 {
                width: 100%;
                height: 375px;
                border-collapse: collapse;
                border: 1px solid #dedede;
                .tbody2 {
                  display: table-row-group;
                  vertical-align: middle;
                  border-color: inherit;
                  tr {
                    display: table-row;
                    vertical-align: inherit;
                    border-color: inherit;
                    th {
                      width: 20%;
                      background-color: #eee;
                      font-weight: 400;
                      padding: 8px;
                      border: 1px solid #dedede;
                      font-size: 14px;
                      text-align: center;
                    }
                    td {
                      border: 1px solid #dedede;
                      padding: 15px 15px;
                      .category2 {
                        text-decoration: none;
                        color: #3CCACE; 
                      }
                      .area2 {
                        text-decoration: none;
                        color: #3CCACE; 
                      }
                    }
                  }
                }
              }
            }
            .optionalArea2 {
              display: flex;
              justify-content: space-between;
              .like2 {
                margin: 10px 0 0;
                display: flex;
                .likeBtn2 {
                  margin-right: auto;
                  padding: 6px 10px;
                  border-radius: 40px;
                  color: #3CCACE;
                  border: 1px solid #ffb340;          
                }
              }
             .optional2 {
              margin: 10px 0 0;
              display: flex;
              &__Btn2 {
                font-size: 14px;
                a {
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;
                }
              }   
             }       
            }
          }
        } 
        .commentBox2 {
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          &__Contents2 {
            
            .form2 {

              .commentBody2 {
                width: 100%;
                min-height: 104px;
                padding: 10px;
              }
              .noticeMsg2 {
                padding: 8px;
                font-size: 14px;
                background-color: #f8f8f8;
                margin: 10px 0;
                text-align: left;
              }
              br {
                box-sizing: border-box
              }
              .commentBtn2 {
                font-size: 18px;
                line-height: 48px;
                background: #3CCACE;
                border: 1px solid #3CCACE;
                color: #fff;
                width: 60%;
                font-size: 18px;
                border-radius: 100px;
                .fa-comment2 {
                }
              }
            }
          } 
        } 
      }
      .links2 {
        display: flex;
        justify-content: space-between;
        .prev2 {
          .previmg1-2 {
            text-decoration: none;
            color: #3CCACE;
            .fa-angle-left {
            }
            .footnav2 {
              color: #3CCACE;
            }
          }
        }
        .next2 {
          
          .previmg2-2 {
            text-decoration: none;
            color: #3CCACE;
            .fa-angle-right {
            }
          }
        }
      }
      .relatedItems2 {
        .more2 {
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
        
        .productLists2 {
          .productList2 {
            .curryimg2 {
              width: 230px;
           
            }
          }
          .productList--body2 {
            background-color: white;
            color: #333;
            padding: 30px 15px;
            width: 200px;
            h3 {
              .details2 {
                font-size: 16px;
                .bottomcontent2 {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  .contentmoney2 {
                    
                    .contenticon2 {
                    }
                  } 
                }
              } 
            }
          }
        }
            
      }
    }     
  }
}

// .appBanner1{
//   background-image: url(/assets/bg-appBanner-pict.jpg);
//   padding: 100px 40px;
//   position: relative;
//   background-size: cover;
//   background-position: center;
//   .inner1{
//     color: #fff;
//     text-align: center;
//     .inner__title1{
//       text-shadow: 0 0 5px rgba(0,0,0,0.4);
//       font-size: 24px;
//       font-weight: bold;
//       line-height: 1.4;
//     }
//     .inner__text1{
//       font-size: 35px;
//       text-shadow: 0 0 5px rgba(0,0,0,0.4);
//     }
//     .inner__icon1{
//       width: 100%;
//       display: flex;
//       justify-content: center;
//       margin: 20px auto 0;
//       .aBtn1{
//         margin-right: 10px;
//         .aBtn{
//           vertical-align: bottom;
//         }
//       }
//       .gBtn1{
//         margin-right: 10px;
//         .gBtn{
//           vertical-align: bottom;
//         }
//       }
//     }
//   }
// }
// .footer1{
//   padding: 60px 0;
//   color: #fff;
//   background-color: #272727;
//   text-align: center;
//     .contents{
//       max-width: 840px;
//       margin: 0 auto;
//       display: flex;
//       .content{
//         display: flex;
//         flex-direction: column;
//         width: calc(1 / 3 * 100%);
//         margin: 0 2% 0 0;
//       .content__head{
//         margin: 0 0 20px;
//         font-size: 16px;
//         font-weight: bold;
//       }
//       ul{
//         list-style: none;
//       }
//           li{
//             a{
//             font-weight: normal;
//             color: #fff;
//             text-decoration: none;
//             font-size: 12px;
//             line-height: 32px;
//           }
//         } 
//       }
//     }
//   .footer__logo1{  
//     max-width: 160px;
//     width: 100%;
//     margin: 0 auto;
//     .kuro{
//       box-sizing: border-box;
//       .image{ 
//         width: 110%;
//         vertical-align: bottom;
//       }
//     }
//       .p{
//         font-size: 14px;
//       }
//   }
// }
// li{
//   color: -webkit-link;
//   cursor: pointer;
//   text-decoration: underline;
//   list-style: none;
//   text-decoration: none;
// }
// .purchaseBtn{
//     width: 120px;
//     background: #3CCACE;
//     text-align: center;
//     border-radius: 4%;
//     bottom: 32px;
//     right: 32px;
//     position: fixed;
//     padding: 15px;
//   }
//   .purchaseBtn__text{
//     color: #fff;
//     display: block;
//     font-size: 18px;
//     text-decoration: none;
//     margin-bottom: 5px;
//   }
