// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}



// ヘッダー
.pcHeader1{
  padding: 0 60px;
  &__headerInner1{
    max-width:1040px;
    width: 100%;
    min-height: 82px;
    margin:0px;
    padding: 15px 0 0;
  }
  &__mainHeader1{
    position: relative;
    display: flex;
    align-items: center;
  }
  &__FURIMA_icon1{
    margin-right:50px;
    border-radius:4px;
    display: block;
    .serchbtn{
        width:100px;
        display: block;
      }
      .image{
        width: 160px;
        vertical-align: bottom;
        padding-right: 20px;
      }
  }
  &__searchBox1{
    margin-left: auto;
    width: 600%;
    .form{
      display: flex;
      margin-bottom: 5px;
      width: 100%;
    }
    .class-name__text{
      width: 100%;
      height:36px;
      padding: 0 0 0 5px;
    }
    .fa-search{
      color: white ;
      width: 36px;
      border: 0;
      cursor: pointer;
      background-color: #3CCACE;
      padding: 8px;
    }
  } 
  &__nav1{
    font-size: 14px;
    display: flex;
    margin-bottom: 10px;
    .listsLeft1{
      position: relative;
      display: flex;
    }
    .listsLeft__item--first1{
      text-decoration: none;
      padding-right:   20px;
      line-height: 38px;
    }
    .listsLeft__item1{
      display: flex;
      line-height: 38px;
    }
    .listsRight1{
      margin-left: auto;
      display: flex;
    }
    .listsRight__item--login1{
      color: #333;
      line-height: 38px;
      padding-right: 20px;
    }
    .listsRight__item--new1{
      color: #333;
      line-height: 38px;
    }
  }
}


.credit-card-list3{
  width:700px;
  height:433.38px;
  background-color:#FFFFFF;
}

.credit-card-list-title3{
  height:34px;
  padding:32px 16px;
  text-align: center;
  font-size:24px;
  font-style:bold ;
  background-color: #FFFFFF;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-bottom-color:#FAFAFA;
}

.credit-card-list-registration3{
  background-color: #FFFFFF;
  width:375px;
  height:68px;
  font-size:15px;
  text-align: left;
  padding:32px 0px;
  margin-left: auto;
  margin-right:auto;
  background-color: #FFFFFF;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-bottom-color:#FAFAFA;
}

.credit-card-list-registration-btn3{
  margin:32px 0px 0px;
  font-size:14px;
  text-decoration: none;
  color:#0095EE
}

.credit-card-select-btn3{
  background-color: #FFFFFF;
  height:48px;
  width:375px;
  padding:32px 0px 48px;
  margin-left:auto;
  margin-right:auto;
  text-decoration:none;
  p{
    font-size:17px;
    color:#888888;
    background-color:#ccc;
    font-style:bold;
    text-align: center;
    padding:0px 24px;
    height:48px;
    line-height: 48px;
  }
}

.credit-card-select-text3{
  width:375px;
  padding:0px 0px 56px;
  font-size:14px;
  height:16.38px;
  margin-left:auto;
  margin-right:auto;
  background-color: #FFFFFF;
  display: flex;
  text-decoration:none;
  p{
    color:#0095EE;
    margin-left: 230px;
  }
}

.credit-card-select-text-link{
  color:#0095EE;
  margin-left:auto;
}

// フッターの上部分
.appBanner1{
  background-image: image-url("bg-appBanner-pict.jpg");
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  .inner1{
    color: #fff;
    text-align: center;
    .inner__title1{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    .inner__text1{
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    .inner__icon1{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      .aBtn1{
        margin-right: 10px;
        .aBtn{
          vertical-align: bottom;
        }
      }
      .gBtn1{
        margin-right: 10px;
        .gBtn{
          vertical-align: bottom;
        }
      }
    }
  }
}

// フッター
.footer1{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
    .contents{
      max-width: 840px;
      margin: 0 auto;
      display: flex;
      .content{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        margin: 0 2% 0 0;
      .content__head{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul{
        list-style: none;
      }
          li{
            a{
            font-weight: normal;
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        } 
      }
    }
  .footer__logo1{  
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    .kuro{
      box-sizing: border-box;
      .image{ 
        width: 110%;
        vertical-align: bottom;
      }
    }
      .p{
        font-size: 14px;
      }
  }
}
li{
  cursor: pointer;
  text-decoration: underline;
  list-style: none;
  text-decoration: none;
}
.purchaseBtn{
    width: 120px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
  }
  .purchaseBtn__text{
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }