.credit-card-list3{
  width:700px;
  height:433.38px;
  background-color:#F5F5F5;
}

.credit-card-list-title3{
  height:99px;
  text-align: center;
}

.credit-card-list-registration3{
  width:375x;
  height:133px;
  font-size:15px;
  text-align: center;
}

.credit-card-list-registration-btn{
  margin:32px 0px 0px;
  font-size:14px;
  color:#0095EE
}

.credit-card-select-btn3{
  height:48px;
  width:375px;
  color:#888888;
  background-color:#ccc;
  padding:32px 0px 48px;
  text-align: center;
}

.credit-card-select-text3{
  padding:0px 0px 56px;
  font-size:14px;
  height:72.38px;
}