.log-out {
  width:572px;
  height:50px;
  background-color: #FFFFFF;
  text-align: center;
  padding:64px;
  text-decoration: none;
}

.log-out-btn{
  width:320px;
  color:#FFFFFF;
  background-color:#EA352D;
  font-size: 14px;
  line-height:50px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
