// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

body {
  position: relative;
  height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
  box-sizing: border-box;
  list-style: none;
  #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

.single-container5{
}
  .single-main__head5 {
    padding: 32px;
    font-size: 22px;
    text-align: center;
  }

/* ヘッダー */
.single-header5 {
  text-align: center;
  &__logo5{
    margin: 40px 0 0;
    display: inline-block;
    &a, img{
      width: 185px;
      height: 49px;
      line-height: 49px;
      margin: 0 8px 0 0;
    }
  }

/* ヘッダーナビ */
  &__progress5{
    padding: 16px 0;
    border: 0;
    border-top: 1px solid #eee;

    & ol{
      list-style: none;
    }

    &__text5{
      margin: 0 40px 0 0;
      position: relative;
      z-index: 1;
      display: inline-block;
      min-width: 40px;
      font-size: 12px;
      color: #888;
      text-align: center;

      &--active5{
        font-weight: 600;
        color: #ea352d;
        margin: 0 40px 0 0;
        position: relative;
        z-index: 1;
        display: inline-block;
        min-width: 40px;
        font-size: 12px;
        text-align: center;
      }
    }

/* ナビの丸 */
    &__status5{
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      background: #ccc;
      border-radius: 50%;
      &--red5{
        background:#ea352d;
        ;
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
      }
    }
  }
}

.white4 {
  color: white;
  text-decoration: none;
}

/* メイン全体 */
.single-main5{
  height: calc(100% - 328px);

  &__container5{
    width: 700px;
    margin: 0 auto;
    background-color: #ffffff;
    &__title5{
      font-size: 20px;
      padding: 16px;
      text-align: center;
      line-height: 1.5;
      border-bottom: 1px solid #f5f5f5;
      background-color: #ffffff;
      font-weight: bold;
    }

    &__subtitle5{
      text-align: center;
    }
    
    &__form5{
      padding: 24px 16px 40px;
      background-color: #fff;

      &__frame5{
        max-width: 343px;
        margin: 0 auto;
        padding: 40px 40px 64px;
      }
    }
  }
}
/* 入力フォーム */
.form-group5{
  margin-top: 32px;
  & label {
    font-weight: 600;
  }
  &__birthday5{
    select {
      width: 76px;
      height: 48px;
      font-size: 100%;
      margin-top: 10px;
    }
  }
  
/* 必須 */ 
  &__require5{
    background: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    display: inline-block;
  }

/* 入力部分 */
  &__input5{
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px; 
    box-sizing: border-box;

    &--first--half5 {
      width: calc(50% - 6px);
      height: 48px;
      margin: 8px 0 0;
      margin-right: 8px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
      box-sizing: border-box; 
    }

    &--secound--half5 {
      width: calc(50% - 6px);
      height: 48px;
      margin: 8px 0 0;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
      box-sizing: border-box; 
    }

    
  }
 
  &__info5{
    margin-top: 8px;
    color: #888;
    line-height: 1.5;
  }

  &__text{
    margin-top: 8px;
    line-height: 1.5;
    color: #333;
    &--center{
      margin-top: 8px;
      line-height: 1.5;
      color: #333;
      text-align: center;
    }
    &--right{
      margin-top: 8px;
      line-height: 1.5;
      color: #333;
      text-align: right;
    } 
  }

  /* ボタン */
  .btn-default5 {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
  }
    &--login5{
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
      border-radius: 4px;
      margin: 16px 0 0;
      color: #fff;
      background-color:#0099e8;
    }
    &--mail{
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
      border-radius: 4px;
      margin: 16px 0 0;
      color: #fff;
      background-color: #ea352d;
    }
  
  .btn-blue5{
    margin-top: 24px;
    background: #3ccace;
    border: 1px solid #3ccace;
    color: #fff;
  }
}
.btn-start5{
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  margin-top: 24px;
  background: #3ccace;
  border: 1px solid #3ccace;
  color: #fff;
}

/* ログイン画面 */
.single-main-login5 {
  display: block;

  .login-panel5{
    width: 456px;
    margin: 0 auto;
    background: #fff;
  }

  .login-no-account5{
    padding: 24px 32px;
    text-align: center;
    a {
      display: block;
      text-decoration: none;
      margin: 8px 0 0;
      border-radius: 4px;
      border: 1px solid #0099e8;
      background: #0099e8;
      color: #fff;
      line-height: 40px;
    }
  }
  .login-form-inner5{
    padding: 32px 64px;
    border-top: 1px solid #eee;
  }

  .logout{
    padding: 24px 40px 64px;
    background: #fff;
  }

  .logout-content{
    max-width: 320px;
    margin: 0 auto;
  }
}
/* フッター */
.single-footer5 {
  color: #fff;
  background-color: #272727;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 200px;
  padding: 40px 0;
  text-align: center;
  
  &__logo5 {
    height: 65px;
    margin: 10px auto;
    text-align: center;
    .pic5{
      width: 180px;
    }
  }
  &__content5{
    display: block;
    font-size: 12px;
    &__caution5{

      &--policy5{
        margin: 0;
      }
      &--terms5{
        display: inline-block;
        margin: 0 0 0 16px;
        
      }
      &--notation5{
        display: inline-block;
        margin: 0 0 0 16px;
      }
    }
  }
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}


.mypage3{
  color:#333333;
  font-size:14px;
  width:1440px;
  background-color: #F5F5F5;
}


.mypage-body3{
  height:1341px;
  width:1020px;
  background-color: #f5f5f5;
  margin:40px 210px 0px;
  padding:0px 0px 40px;
  display:flex;
  justify-content: space-between;
}


.mypage-side-bar3{
  width:280px;
  margin-top:40px;
} 

.mypage-side-bar__list3{
  background-color: #ffffff;
  list-style: none;
  padding: 16px;
  height:48px;
  display: block;
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width:1px;
  border-bottom-color:#F5F5F5;
  text-decoration: none;
  &:link{
    color:#333333
  }
  &:visited{
    color:#333333
  }
  &:hover {
    background-color: #FAFAFA;
  }

}

.mypage-side-bar__nav-head3{
  font-size: 16px;
  height:16px;
  margin:40px 0px 8px;
  font-weight: bold;
}

.mypage-main-content3{
  height:1189px;
  width:700px;
}

.mypage-main-content__user3{
  background-image:url(/assets/mypage-background.jpeg);
  background-size:cover;
  background-position:center;
  height:200px;
  text-align: center;
  padding:20px;
  margin-top:40px;
}

.mypage-main-content__user-icon3{
  text-decoration: none;

  p{
    margin-top:8px;
  }
  &:link{
    color:#333333
  }
  &:visited{
    color:#333333
  }
}


.mypage-main-active{

}

.mypage-main-tab-area{
  display:flex;
  font-size:16px;
  font-style:bold;
  height:72px;
  text-align: center;
  line-height:72px;
  .mypage-main-tab{
    width:350px;
    background-color: #eee;
  }
  .mypage-main-tab.active{
    background-color: #FFFFFF;
    width:350px;
    border-top-style:solid;
    border-top-color:red;
    border-top-width:3px;
  }
}

.mypage-main-content-area {
  background-color: #FFFFFF;
  .mypage-main-content {
    display: none;
  }
  .mypage-main-content.show {
    display: block;
  }
}


.mypage-main-content_item-information-block3{
  display: flex;
  padding:16px;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width:1px;
  border-bottom-color:#F5F5F5;
  &:link{
    color:#333333
  }
  &:visited{
    color:#333333
  }
  &:hover {
    background-color: #FAFAFA;
  }
}

.mypage-main-content_item-information-box3{
  display: flex;
  
}

.mypage-main-content_item-information-block-image3{
  width:48px;
}

.mypage-main-content_item-information-block-text3{
  width:452px;
  margin:0px 40px 0px 68px;
  
}

.mypage-main-content__todo-block__link3{

}

.mypage-main-content__todo-block3{
  text-decoration: none;
  display: flex;
  border-bottom-style: solid;
  border-bottom-width:1px;
  border-bottom-color:#F5F5F5;
  justify-content: space-between;
  padding:16px;
  &:link{
    color:#333333
  }
  &:visited{
    color:#333333
  }
  &:hover {
    background-color: #FAFAFA;
  }
}

.mypage-main-content__go-item-list3{
  vertical-align: center;
  padding:16px;
  background-color: #FFFFFF;
  text-align: center;
 
  p{
    background-color: #EEEEEE;
    width:668px;
    height:56px;
    line-height: 56px;
  }
  
}

.mypage-purchase-head{
  margin-top:40px;
  padding:16px;
  background:#FAFAFA;
  font-style:bold;
  font-size:16px;
  line-height: 36px;

}

.mypage-purchase-tab-area{
  height:72px;
  font-size:16px;
  background-color:#F5F5F5;
  line-height:72px;
  display:flex;
  text-align: center;
  .mypage-purchase-tab{
    width:350px;
    background-color: #eee;
  }
  .mypage-purchase-tab.active{
    background-color: #FFFFFF;
    width:350px;
    border-top-style:solid;
    border-top-color:red;
    border-top-width:3px;
  }
}


.mypage-purchase-content-area{
  background-color: #FFFFFF;

  .mypage-purchase-content{
    display:none;
    height:236px;
    padding:100px 0px 60px;
    color:#CCCCCC;
    font-size:16px;
    text-align:center
  }
  .mypage-purchase-content.show{
    display:block;
    height:236px;
    padding:100px 0px 60px;
    color:#CCCCCC;
    font-size:16px;
    text-align:center
  }
}

// フッターの上部分
.appBanner1{
  background-image: image-url("bg-appBanner-pict.jpg");
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  max-width:1440px;
  .inner1{
    color: #fff;
    text-align: center;
    .inner__title1{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    .inner__text1{
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    .inner__icon1{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      .aBtn1{
        margin-right: 10px;
        .aBtn{
          vertical-align: bottom;
        }
      }
      .gBtn1{
        margin-right: 10px;
        .gBtn{
          vertical-align: bottom;
        }
      }
    }
  }
}


// フッター
.footer1{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  max-width:1440px;
    .contents{
      max-width: 840px;
      margin: 0 auto;
      display: flex;
      .content{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        margin: 0 2% 0 0;
      .content__head{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul{
        list-style: none;
      }
          li{
            a{
            font-weight: normal;
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        } 
      }
    }
  .footer__logo1{  
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    .kuro{
      box-sizing: border-box;
      .image{ 
        width: 110%;
        vertical-align: bottom;
      }
    }
      .p{
        font-size: 14px;
      }
  }
}
li{
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}
.purchaseBtn{
    width: 120px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
}
  .purchaseBtn__text{
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
