.header

.contents
  .contents-side
    .contents-side__profile 本人情報
    .sontents-side__email メールアドレス
    .contents-side__password パスワード
    .contents-side__creditcard 支払い方法
    .contents-side__address 発送元・届出先住所
    .contents-side__logout ログアウト

  .contents-main



